@import 'src/styles/vars';

.pet-details {
  border: 0.2em solid grey;

  &-avatar {
    width: 30%;

    img {
      width: 100%;
    }
  }

  &-general {
    border: 1px solid black;
    width: 100%;
    height: 5em;
    display: flex;
  }

  &-name, &-age, &-species, &-breed {
    width: 50%;
    /* flex: 1; */
  }
}