@import 'src/styles/vars';

.pet-details {
  border: 0.2em solid grey;
  padding: 0.2em;
  min-height: 90%;

  &-avatar {
    width: 30%;

    img {
      width: 100%;
    }
  }

  &-general {
    border: 1px solid black;
    width: 100%;
    height: 5em;
    display: flex;
  }

  &-name, &-age, &-species, &-breed {
    width: 50%;
    /* flex: 1; */
  }

  .edit-link {
    width: 100%;
    height: 2em;
    margin-top: 1em;
    padding-left: 0.5em;
  }
}