@import 'src/styles/vars';

.pet-details {
    position: relative;
    padding: 0.2em;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include m1200() {
        margin-top: 3em;
        align-items: center;
       };

    .pet-delete-btn {
        width: 6em;
        padding: 0.5em;
        border: none;
        border-radius: 30.5px;
        align-self: center;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgb(235, 232, 232);
        border-radius: 1em;
        padding: 0.5em;
        @include m1200() {
            width: 60%;
           };

        .edit-btn {
            border: none;
            border-radius: 30.5px;
            padding: 0.5em;
        }

        .details-links {
            width: 100%;
            display: flex;
            justify-content: space-around;

            a {
                color: rgb(0, 0, 0);
    
                &:active, &:focus, &:visited {
                    color: rgb(0, 0, 0); 
                }
            }
        }
    }

    &-content-infos {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        margin-top: 1em;

        &-avatar {
            width: 40%;

            & img {
                width: 100%;
                border-radius: 30.5px;
            }
        }

        &-general {
            width: 60%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 1em;

            h3 {
                margin: 0;
            }
        }
    }

    .edit-link {
        width: 100%;
        height: 2em;
        margin: 0.5em 0;
    }


}