@import 'src/styles/vars';

.pet-details-hidden {
    display: none;
}

.pet-details {
    position: relative;
    height: 90%;
    display: flex;
    flex-direction: column;
    animation-name: fadeIn;
    animation-duration: 2s;

    &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include m1024() {
            flex-direction: row;
            gap: 1em;
            padding: 0.5em;
            align-items: flex-start;
            min-height: 500px;
        }
    }

    .details-links {
        width: 100%;
        height: 3em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.4em;
        margin: 0;
        background-color: rgba($green, 0.2);

        @include m767() {
            height: 4em;
        }

        &-item {
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            &-content {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:hover svg {
                    fill: $color-green-dark;
                }
            }

            &-btn {
                border: none;
                background: none;
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.8rem;

                .btn-icon {
                    width: 1.3em;
                    height: 1.3em;
                }
            }
        }

        a {
            color: rgb(255, 255, 255);

            &:active,
            &:focus,
            &:visited {
                color: rgb(255, 255, 255);
            }
        }

        svg {
            width: 1.2em;
            fill: $dark-blue;
            transition: fill 200ms linear;

            @include m767() {
                width: 1.8em;
            }
        }

        p {
            font-size: 0.7em;
            color: $dark-blue;
            text-align: center;
            margin-bottom: 0;

            @include m767() {
                font-size: 0.9em;

            }
        }
    }

    // Pet details container

    &-content {
        width: 100%;
        margin-bottom: 0.4em;
        height: 100%;
        flex: 1;
        background: linear-gradient(0deg, rgba(94, 102, 151, 0.05) 17%, rgba(255, 255, 255, 1) 50%);

        @include m767() {
            width: 60%;
            border-radius: 1em;
            margin-bottom: 1em;
            box-shadow: 0 0 20px #f0eeee,
                0 0 20px#f0eeee;
            -moz-box-shadow: 0 0 20px #f0eeee,
                0 0 20px #f0eeee;
            -webkit-box-shadow: 0 0 20px #f0eeee,
                0 0 20px #f0eeee;
            -o-box-shadow: 0 0 20px #f0eeee,
                0 0 2s0px #f0eeee;
            background: #fff;
        }

        &-infos {
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: column;
            position: relative;
            font-size: 1em;
            gap: 2em;
            padding: 0.5em;

            .container-row {
                display: flex;
                flex-direction: column;
                gap: 1em;

                @include m1024() {
                    flex-direction: row;
                    display: flex;
                    height: 80%;
                }
            }

            &-avatar {
                width: 100%;
                height: 50%;
                max-height: 14em;
                overflow: hidden;
                display: flex;
                justify-content: center;
                padding: 0 0.4em;

                @include m767() {
                    width: 100%;
                    height: 15em;
                    margin: 0 auto;
                }

                @include m1024() {
                    min-height: 100%;
                }

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 0.2em;
                    object-fit: contain;
                }
            }

            &-general {
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                @include m1024() {
                    height: 60%;
                }

                .pet-details-name,
                .pet-details-age,
                .pet-details-species,
                .pet-details-breed,
                .info-sex,
                .info-birthdate,
                .info-ide {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0.1em 0;

                    h3 {
                        flex: 1;
                        margin: 0;
                        font-weight: bold;
                        line-height: 1.2;
                        color: $dark-blue;
                        font-size: 1em;
                        display: inline-flex;
                        overflow-wrap: break-word;
                    }

                    p {
                        flex: 1;
                        margin-left: 0.5em;
                        margin-bottom: 0;
                        line-height: 1.2;
                        font-size: 1em;
                    }
                }
            }
        }
    }

    &-items {
        flex: 1;
        height: 100%;
        width: 100%;
        margin-top: 2em;
    }

    .controls {
        display: flex;
        justify-content: center;
        gap: 2em;
        margin: 1em 0;

        .back-link {
            color: $dark-grey;
            display: inline-flex;
            align-items: center;
        }

        .pet-delete-btn,
        .edit-btn {
            border-radius: 30.5px;
            border: none;
            width: 7em;
            height: 2.8em;
            background-color: $green;
            color: #fff;
            font-size: 0.9em;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 200ms ease-in;

            &:hover {
                background-color: $purple;
            }

            a {
                color: white;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .pet-delete {
            align-self: flex-end;
        }
    }

    .edit-link {
        display: flex;
        justify-content: center;
    }
}

.modal-delete-pet {

    .modal-delete-cancel-btn,
    .modal-delete-validate-btn {
        border: none;
        border-radius: 30.5px;
        padding: 0.4em;
        color: white;
        padding: 0.4em 0.6em;
        width: 9rem;
    }

    .modal-delete-validate-btn {
        background: $main-color;
    }

    .modal-delete-cancel-btn {
        background: $dark-grey;
    }
}
