@import 'src/styles/vars';

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m1024() {
        padding: 0.5em;
    }

    &__link {
        width: 12em;
        height: 2em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        background-color: $green;
        color: #fff;
        border-radius: 30.5px;

        &:hover {
            text-decoration: none;
            color: #fff;
            background-color: $purple;
        }

    }

    .rbc-day-slot .rbc-background-event,
    .rbc-event {
        background-color: $main-color;
    }

    .select {
        background-color: #fff;
        border: 1px solid $light-color;
    }
}

.rbc-off-range-bg {
    background: rgba($green, 0.2);
}

.rbc-toolbar-label {
    font-weight: bold;
    font-size: 1.6rem;
    color: $purple;
}

.events-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include m767() {
        flex-direction: row;
        gap: 1em;
        flex-wrap: wrap;
        padding: 1em;
    }

    .event_item {
        margin-bottom: 0.4em;
        padding: 0.2em;
        border-bottom: 1px solid $light-color;
        width: 100%;

        @include m767() {
            width: 14em;
            padding: 0.5em;
            border-radius: 15px;
            box-shadow: -8px 8px 30px #ebebeb,
                20px -20px 50px #ffffff;
        }

        p {
            margin-bottom: 0 !important;
        }

        p.paragraph-text.name {
            color: $purple;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    select {
        width: 90%;
        margin: 0 auto;
        border: #e5e5e5;
        background: #e5e5e5;
    }
}
