@import 'src/styles/vars';

.auth {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.4em;
    @include m767() {
        width: 40vw;
    };
    
    @include m1600() {
        gap: 2em;
        width: 60%;
    };

}
