@import 'src/styles/vars';

.auth {
  font-family: 'Nunito';
  width: 80%;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  padding: 1em;
  /*position: absolute;
  top: 30%;*/
  @include m1200() {
    top: 20%;
    width: 15%;
   };
}
