@import 'src/styles/vars';

.weight-container {
    position: relative;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    @include m1024() {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: auto;
        height: 100%;
    }

    &-title {
        color: $purple;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .back-btn {
        border: none;
        border-radius: 30.5px;
        padding: 0.4em;
        background: none;

        img {
            width: 1.6em;
        }
    }

    .add-weight {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 1em;
        border-radius: 50%;
        width: 2.6em;
        height: 2.6em;
        background-color: #fff;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: rgba($green, 0.3);
        }
    }
}

.weight-list {

    @include m767() {
        //width: 25em;
        margin: 0;
    }
}

.add-weight-btn {
    @include add-btn;
    margin: 0;

    svg {
        @include add-btn-svg;
    }
}

.modal-content {
    label {
        display: none;
    }

    input {
        border: 1px solid $dark-grey;
        border-radius: 0.4em;
        padding: 0.4em;
        color: $dark-grey;
        width: 100%;
        outline: none;
    }

    .add-weight-form-btn {
        display: flex;
        justify-content: space-between;

        .add-weight-button-submit,
        .add-weight-button-cancel {
            width: 6em;
            border: none;
            border-radius: 30.5px;
            padding: 0.4em;
            color: white;

            &:hover {
                background: $purple;
            }
        }

        .add-weight-button-submit {
            background: $green;
        }


        .add-weight-button-cancel {
            background: $dark-grey;
        }
    }
}
