@import 'src/styles/vars';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25em;
  border-radius: 0.5em;
  font-family: "Nunito";
  background-image: url('../../../assets/img/blob_grey.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  @include m767() {
    height: 30em;
  };
  @include m1024() {
    height: 35em;
  };
  @include m1200() {
    width: 60vw;
    background-size: 80%;
    background-repeat: no-repeat;
   };
  @include m1600() {
    width: 40vw;
    background-size: 70%;
  };

  &-infos {
    display: inline-block;
    width: 50vw;
    margin-top: 0.4em;
    align-self: center;
    margin-left: 2em;
    font-size: 1em;
    z-index: 30;
    @include m400() {
      width: 50vw;
    };
    @include m767() {
      font-size: 1.1em;
      width: 32vw;
    };
    @include m1024() {
      font-size: 1.1em;
      width: 25vw;
      margin-left: 4em;
    };
    @include m1200() {
      font-size: 1.2em;
      width: 20vw;
      margin-left: 0;
    };
    @include m1600() {
      width: 18vw;
    };
    @include m1900() {
      width: 16vw;
    };
  }

  /* &-image-grey {
    width: 100%;
    position: absolute;
    margin-left: 1em;
    z-index: 20;
    @include m400() {
      width: 90%;
     };
    @include m767() {
      width: 70%;
      left: 6em;
    };
    @include m1024() {
      width: 40%;
      margin-left: 2em;
    };
    @include m1200() {
      width: 40%;
      margin-left: 0;
    };
    @include m1600() {
      width: 30%;
      margin-left: 6em;
    };
  } */

  /* &-image-yellow {
    width: 100%;
    position: absolute;
    margin-top: 2em;
    z-index: 19;
    @include m767() {
      width: 80%;
      left: 0;
    };
    @include m1024() {
      width: 60%;
      margin-left: 2em;
    };
    @include m1200() {
      width: 50%;
      margin-left: 0;
    };
  } */
}
