@import 'src/styles/vars';

.pet-container {
    position: relative;
    width: 90%;
    height: 6em;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 0.8em;
    box-shadow:
        0 2.5px 5px rgba(0, 0, 0, 0.01),
        0 20px 40px rgba(0, 0, 0, 0.02); 
    &:hover {
        text-decoration: none;
    }

    &:hover .pet-name {
        color: $color-green-dark;
    }
    @include m1024() {
        margin: 0.4em 0.6em;
    };
    @include m1200() {
        height: 16vh;
    };

    .pet-item {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pet-name {
        flex: 2;
        font-size: 1.1rem;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        color: $dark-blue;
        @include m767() {
            font-size: 1em;
        };

        p {
            margin-bottom: 0;
        }
    }

    .pet-avatar {
        flex: 1;
        height: 100%;
        overflow: hidden;
        padding: 0.4em;
        border-radius: 0.2em;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.2em;
        }

    }

    .pet-delete {
        position: absolute;
        margin-left: 75%;
        margin-top: 70%;
    }

    .pet-delete-btn {
        border: none;
        background: none;
        width: 1.4em;
        z-index: 100;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 100%;
        }
    }
}