@import 'src/styles/vars';

.pet-container {
    position: relative;
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 0.8em;
    box-shadow:
        0 2.5px 5px rgba(0, 0, 0, 0.01),
        0 20px 40px rgba(0, 0, 0, 0.02);

    &:hover {
        text-decoration: none;
    }

    &:hover .pet-name {
        color: $color-green-dark;
    }

    @include m1024() {
        margin: 0.4em 0.6em;
        height: 18em;
        border-radius: 0;
    }

    .pet-item {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include m1024() {
            flex-direction: column;
        }
    }

    .pet-name {
        flex: 2;
        font-size: 1.1rem;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $dark-blue;
        gap: 0.5em;

        @include m1024() {
            font-size: 1em;
            flex: auto;
        }

        p {
            margin-bottom: 0;
        }

        svg {
            width: 1.2em;
            height: 1.2em;
        }
    }

    .pet-avatar {
        flex: 2;
        height: 100%;
        overflow: hidden;
        border-radius: 0.8em 0 0 0.8em;


        @include m1024() {
            flex: auto;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 0 10%;
        }
    }

    .pet-delete {
        position: absolute;
        margin-left: 75%;
        margin-top: 70%;
    }

    .pet-delete-btn {
        border: none;
        background: none;
        width: 1.4em;
        z-index: 100;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 100%;
        }
    }
}
