@import 'src/styles/vars';

.login-page-header {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

    &-title {
        width: 80%;
        @include m1024() {
            width: 60%;
        };
        img {
            width: 100%;
        }
    }

    &-img {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
