@import 'src/styles/vars';

.login-page-header {
  width: 100vw;
  height: 20vh;
  @include m767() {
    width: 100vw;
    height: 15vh;
    }
  @include m1024() {
    width: 100vw;
    height: 16vh; 
    }

  &-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    @include m1200() {
      top: 0;
      margin-bottom: 4em;
     };
  }

  &-img {
    background-image: url('../../../assets/img/Banner_pets_diary_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    @include m767() {
      margin-top: 1em;
     };
    @include m1200() {
      height: 100%;
      align-self: center;
     };
  }
}
