@import 'src/styles/vars';

.login-page-header {
  width: 100vw;
  height: 10vh;
  /* margin-bottom: 4em; */
  @include m1200() {
    width: 50vw;
    height: 60vh;
    }

  &-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    @include m1200() {
      top: 0;
      margin-bottom: 4em;
     };
    & h1 {
      font-family: "Adventure";
      font-size: 4em;
      color: #bcdf9b;
    }
  }

  &-img {
    background-image: url('../../../assets/img/Cat1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    @include m1200() {
      background-image: url('../../../assets/img/Cat1.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      align-self: center;
     };
  }
}
