@import 'src/styles/vars';

.loginPage-header-title {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
  & h1 {
    color: #f55d38;
    font-size: 2em;
  }
}

.loginPage-header {
  background-image: url('../../../assets/img/HeaderImg.jpg');
  height: 1280px;
}