// COLORS

$main-color: #baccbe;
$accent-color: #ff7362;
$accent-color-bis: #f26a76;
$light-color: #c6a49a;



// MEDIA QUERIES

@mixin m375($size: 375px) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin m400($size: 400px) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin m767($size: 767px) {
    @media (min-width: $size) {
      @content;
    }
  }
  
  @mixin m1024($size: 1024px) {
    @media (min-width: $size) {
      @content;
    }
  }
  
  @mixin m1200($size: 1200px) {
    @media (min-width: $size) {
      @content;
    }
  }
  
  @mixin m1600($size: 1600px) {
    @media (min-width: $size) {
      @content;
    }
  }

  @mixin m1900($size: 1900px) {
    @media (min-width: $size) {
      @content;
    }
  }