// COLORS

$main-color: #baccbe;
$main-color-bis: #5eb698;
$accent-color-bis: #ff7362;
$accent-color: #f4696f;
$brown-color: #c6a49a;
$light-color: #705430;
$brown-color: #cc8362;
$green-color: #587A02;
$green-color-light: #8CB04C;
$color-blue: #018eac;
$color-blue-light: #BBE3E8;
$color-blue-lighten: lighten($color-blue-light, 40%);
$color-blue-dark: #007a91;
$color-coral: #ff3165;
$color-coral-light: #fe8c8c;
$color-coral-pale: #fac8cb;
$color-brown: #563d40;
$color-green-dark: #2eae8d;
$color-green-light: #b1efda;
$dark-blue: #202753;

// MIXIN

@mixin add-btn {
    width: 2.6em;
    border: none;
    background: none;
    margin-top: 0.5em;
    
    svg {
        fill: $accent-color;
    }
}

@mixin back-btn {
    border: none;
    border-radius: 30.5px;
    padding: 0.4em;
    background: none;

    img {
        width: 1.6em;
    }
}

@mixin add-btn-svg {
    width: 100%;
    fill: #ff7362;

    &:hover {
        fill: $light-color;
    }
}

@mixin delete-btn {
    border: none;
    background: none;
    width: 1.4em;
    img {
        width: 100%;
        transform: scale(1);
    }

    &:hover {
        transform: scale(1.6);
    }

    &:focus {
        border: none;
        box-shadow: none;
    }
}

// MEDIA QUERIES

@mixin m375($size: 375px) {
  @media (min-width: $size) and (max-height: 700px){
    @content;
  }
}

@mixin m375higher($size: 375px) {
  @media (min-width: $size) and (min-height: 700px){
    @content;
  }
}

@mixin m400($size: 400px) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin m767($size: 767px) {
    @media (min-width: $size) {
      @content;
    }
  }
  
@mixin m1024($size: 1024px) {
  @media (min-width: $size){
    @content;
  }
}

@mixin m1024ipad($size: 1024px) {
  @media (min-width: $size) and (min-height: 1200px){
    @content;
  }
}
  
@mixin m1200($size: 1200px) {
  @media (min-width: $size) {
    @content;
  }
}
  
@mixin m1600($size: 1600px) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin m1900($size: 1900px) {
  @media (min-width: $size) {
    @content;
  }
}