@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
  background-color: #ffffff;
}

@font-face {
  font-family: "Adventure";
  src: url("../../src/assets/fonts/Adventure.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Bangers";
  src: url("../../src/assets/fonts/Bangers-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../../src/assets/fonts/Nunito-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../src/assets/fonts/Quicksand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
