@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
  background-color: #bb97c3;

}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
*/

@font-face {
  font-family: "Adventure";
  src: url("../../src/assets/fonts/Adventure.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Bangers";
  src: url("../../src/assets/fonts/Bangers-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
