@import 'reset';
@import 'vars';

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  font-family: sans-serif;
}

#root {
    height: 100vh;
}

@font-face {
  font-family: "Adventure";
  src: url("../../src/assets/fonts/Adventure.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Karla";
    src: url("../../src/assets/fonts/Karla-Regular.ttf");
      font-weight: normal;
      font-style: normal;
  }

@font-face {
  font-family: "Bangers";
  src: url("../../src/assets/fonts/Bangers-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../../src/assets/fonts/Nunito-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../src/assets/fonts/Quicksand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../../src/assets/fonts/Raleway-Regular.ttf");
      font-weight: normal;
      font-style: normal;
  }

@font-face {
  font-family: "Montserrat";
  src: url("../../src/assets/fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "PLayfairDisplay";
  src: url("../../src/assets/fonts/PlayfairDisplay-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
