@import 'src/styles/vars';

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-bottom: 3em;
  font-family: 'Montserrat';
  @include m1200() {
    background-color: #ffffff;
   };
}

