@import 'src/styles/vars';

.vaccine-item {
    height: 2.4em;

    @include m767() {
        width: 30em;
    };

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin-left: 0.2em;

        &-date {
            width: 30%;
            margin-right: 1em;
            p {
                margin-bottom: 0;
            }
        }
      
        &-value {
            width: 50%;
            p {
                margin-bottom: 0;
            }
        }

        &-delete {
            width: 1em;
    
            &__btn {
               @include delete-btn;
            }
        }

        &-line {
            height: 0.8px;
            width: 95%;
            margin-left: 0.2em;
            background-color: $light-color;
        }
    }

 
    .modal-content {

        .modal-title {
            color: $accent-color;
        }

          .modal-delete-cancel-btn,
          .modal-delete-validate-btn {
              border: none;
              background: $main-color;
              border-radius: 30.5px;
              padding: 0.4em;
              color: white;
          }
      }
}