@import 'src/styles/vars';

.login-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin: 0 auto;
    gap: 0.5em;
    @include m1600() {
        flex-direction: row;
        height: 90%;
    };

    &-infos {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
    }
}
