@import 'src/styles/vars';

.login-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: calc(100vh - 5em);
    margin: 0 auto;
    gap: 0.5em;

    &-infos {
        //position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        flex: 1;
    }
}
