@import 'src/styles/vars';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  @include m767() {
    height: 90vh;
    justify-content: space-between;
   };
  @include m1024() {
    height: 90vh;
    align-items: center;
    justify-content: space-around;
   };

   &-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @include m767() {
      justify-content: space-around;
      width: 100vw;
      height: 60vh;
     };
    @include m1024() {
      flex-direction: row;
      width: 100vw;
      height: 50vh;
     };
     @include m1600() {
      align-items: center;
      justify-content: center;
     };
   }
}
