@import 'src/styles/vars';

.edit-pet {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    &-title {
    width: 100%;
    text-align: center;
    color:$purple;
    margin: 0.5em 0 0.5em 0;
    }
}

.edit-pet-form {
    width: 100%;
    padding: 0.5em;
    margin: 0 auto 0.5em auto;
    border-radius: 0.5em;
    max-width: 500px;
    
    @include m1024() {
        box-shadow:  0 0 20px #f0eeee,
                 0 0 20px#f0eeee;
        margin: 1em auto 0.5em auto;
        
    };
    .form-label {
        color: $color-green-dark;
        margin: 0.5em 0;
        font-size: 0.8em;
        cursor: default;
        display: none;
    }

    &-btn {
        input[type=file]{
            display: none;
        }
        label {
            background-color: none;
            color: $green;
            font-size: 0.9em;
            padding: 0.5em;
            border-radius: 30.5px;
            width: 12em;
            &:hover {
              font-weight: bold;
            }
          }
    }

    input {
        border-color: $color-green-light;
        border-width: 0 0 1px 0;
        border-radius: 0;
        padding-left: 0;
        margin-bottom: 0.5em;
        @include m1024() {
            font-size: 1em;
        };
    }

    input:focus {
        border-color: $color-green-light;
        border-width: 0 0 1px 0;
        box-shadow: 0 0 0 0.2rem rgba(186,204,190, 0.25);
    }

    .form-file-label {
        color: #ffffff;
    }

    .btn-primary {
        border-radius: 30.5px;
        background-color: $green;
        border-color: $green;
        color: #fff;

        &:hover {
            background-color: $purple;
            border-color: $purple;

        }
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 0.5em;
    }

    .avatar-preview {
        border-radius: 0.8em;
        display: flex;
        justify-content: center;
        img {
            //width: 50%;
            height: 10em;
            object-fit: cover;
            margin: 0.5em 0;
        }
    }
}
