@import 'src/styles/vars';

.edit-pet {
    height: 90%;
    width: 100%;
    padding: 0.5em;
    overflow-y: scroll;
    padding-bottom: 3em;

    h2 {
    width: 100%;
    text-align: center;
    color:$color-coral;
    margin-top: 1em;
    }
}

.edit-pet-form {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    box-shadow:  0 0 20px #f0eeee,
                 0 0 20px#f0eeee;
    .form-label {
        color: $color-green-dark;
        margin: 0.5em 0;
        font-size: 0.8em;
        cursor: default;
    }

    &-btn {
        input[type=file]{
            display: none;
        }
        label {
            background-color: none;
            color: $color-green-dark;
            font-size: 0.9em;
            padding: 0.5em;
            border-radius: 30.5px;
            width: 12em;
            &:hover {
              font-weight: bold;
            }
          }
    }

    input {
        border-color: $color-green-light;
        border-width: 0 0 1px 0;
        border-radius: 0;
        padding-left: 0;
    }

    input:focus {
        border-color: $color-green-light;
        border-width: 0 0 1px 0;
        box-shadow: 0 0 0 0.2rem rgba(186,204,190, 0.25);
    }

    .form-file-label {
        color: #ffffff;
    }

    .btn-primary {
        background-color: $color-coral-light;
        border-color: $color-coral-light;
        border-radius: 30.5px;

        &:hover,
        &:active {
            background-color: $color-coral;
            border-color: $color-coral;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 0.5em;
    }

    .avatar-preview {
        border-radius: 0.8em;
        display: flex;
        justify-content: center;
        img {
            //width: 50%;
            height: 10em;
            object-fit: cover;
            margin: 0.5em 0;
        }
    }
}
