@import 'src/styles/vars';

.home-container {
  height: 90vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;

  &-logo {
    align-self: flex-start;
    width: 4em;
  }
}

.pets-section {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;

  & h2 {
    font-family: 'Nunito';
    color: #3749c9;
    display: inline-block;
  }
}

// Pets list on home page
.pets-list {
  margin: 4em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pet-item-avatar {
  width: 30%;

  & img {
    width: 100%;
  }
}

.add-pet-button {
  width: 2em;
  align-self: center;
  img {
    width: 100%;
    font-size: 3em;
    margin: 0 0;
  }
}

.logout-button {
  border: none;
  background-color:#3749c9;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5em;
}

.ui.modal {
  top: 20%;
  left: 30%;
  margin: 0 auto;
  height: 40em;
}

.home-icon {
  width: 2.4em;
}

