@import 'src/styles/vars';

.home-container {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;

    &-logo {
        align-self: flex-start;
        width: 3em;
        margin-top: 0.5em;
    }

    .alert {
        font-size: 0.7em;
        padding: 0;
        margin-bottom: 0.2em;

        p {
            margin-bottom: 0;
            margin-top: 0.5em;
        }
    }
}

.pets-section {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    padding-top: 0.4em;
    @include m767() {
        height: 60%;
    };
    @include m1024() {
        width: 80%;
        height: 60%;
    };
    @include m1200() {
        width: 65%;
        height: 70%;
    };
    @include m1600() {
        width: 55%;
        height: 70%;
    };

    &-title {
        display: inline-block;
        font-family: 'Quicksand';
        font-family: 'Raleway';
        font-size: 1.2em;
        font-weight: bold;
        color: $accent-color;
        display: inline-block;
        text-align: center;
        margin-bottom: 0.8em;
    }
}

// Pets list on home page

.pets-list {
    width: 100%;
    height: 100%;
    padding: 0.8em;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(70px, 1fr));
    grid-column-gap: 0.8em;
    grid-row-gap: 0.6em;
    grid-auto-rows: 1fr;
    overflow-y: auto;

    @include m375() {
        grid-template-columns: repeat(auto-fill,minmax(90px, 1fr));
    };
    @include m375higher() {
        height: 60%;
    };
    @include m400() {
        height: 100%;
        grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
    };
    @include m767() {
        height: 70%;
        grid-template-columns: repeat(auto-fill,minmax(140px, 1fr));
        grid-column-gap: 1em;
        grid-row-gap: 0.5em;
    };
    @include m1024() {
        grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    };
    @include m1200() {
        padding: 1em;
        grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    };
    @include m1600() {
        grid-template-columns: repeat(auto-fill,minmax(210px, 1fr));
    };
    @include m1900() {
        grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
    };
}

.add-pet-button {
    width: 2em;
    align-self: flex-end;
    margin-bottom: 0.5em;
    margin-right: 1em;

    & svg {
        width: 2em;
        fill: $accent-color;
        border-radius: 50%;
 
        &:hover {
            fill: $light-color;
            transform: scale(1.1);
            box-shadow: 0 0 10px 5px  #f0eeee,
            -10px -10px 20px #ecebeb;
            -moz-box-shadow:  0 0 10px 5px  #f0eeee,
            -10px -10px 20px #ecebeb;
            -webkit-box-shadow:  0 0 10px 5px  #f0eeee,
            -10px -10px 20px #ecebeb;
            -o-box-shadow: 0 0 10px 5px  #f0eeee,
            -10px -10px 20px #ecebeb;
        }
    }
}

.logout-button {
    height: 1.8em;
    font-size: 0.8em;
    border: none;
    background-color:$light-color;
    color: white;
    padding: 0.2em 1em;
    border-radius: 5em;
}

.home-icon {
  width: 2.4em;
}

