@import 'src/styles/vars';

.home-container {
    position: relative;
    width: 100%;
    height: calc(100%-4em);
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding-bottom: 3em;
    background-color: #F8FBFE;
    padding: 1rem;

    @include m1024() {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;
        padding: 0;
    }

    ;

    .alert {
        font-size: 0.9em;
        padding: 0;
        margin-bottom: 0.2em;
        opacity: 0;

        p {
            margin-bottom: 0;
            margin-top: 0.5em;
        }
    }

    .home-icon {
        width: 2.4em;
    }

    .section {
        width: 100%;
        display: flex;
        flex-direction: column;

        &-title {
            font-weight: bold;
            text-align: left;
            padding: 0.5em;
            color: $dark-blue;
            background-color: rgba($green, 0.2);
            height: 3em;
            display: flex;
            align-items: center;
            gap: 1em;

            @include m767() {
                text-align: center;
            }

            ;

            &-text {
                font-size: 1.2rem;
                margin: 0;
            }
        }
    }

    .pets-section {
        position: relative;

        @include m767() {
            min-height: 50%;
        }

        ;

        .flex-row {
            @include m767() {
                justify-content: flex-start;
            }

            ;
        }

        .add-pet-button {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background-color: transparent;
            transition: all 200ms ease-in;

            &:hover {
                transform: scale(1.1);
                transform-origin: center;
                background-color: rgba($green, 0.4);
            }

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
            }

            & svg {
                width: 1.1em;
                fill: $dark-grey;
            }
        }

        // Pets list on home page

        .pets-list {
            width: 100%;
            height: 100%;
            padding: 0.5em;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
            grid-column-gap: 0.8em;
            grid-row-gap: 0.6em;
            grid-auto-rows: 1fr;
            justify-items: center;

            @include m767() {
                height: 100%;
                grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
                grid-column-gap: 1em;
                grid-row-gap: 0.5em;
            }

            ;

            @include m1024() {
                grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            }

            ;

            @include m1200() {
                padding: 1em;
                grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            }

            ;

            @include m1600() {
                grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
            }

            ;

            @include m1900() {
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            }

            ;
        }
    }

    .events-section {
        display: flex;
        flex-direction: column;

        @include m1024() {
            min-height: 50%;
            width: 45%;
        }

        ;

        .events-list {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            width: 100%;
            height: 100%;
            padding: 0.5em;

            .event-container {
                display: flex;
                flex-direction: column;
                gap: 0.4em;
                width: 100%;
                font-size: 0.9em;
                border-bottom: 1px solid $color-green-dark;

                @include m767() {
                    font-size: 1em;
                    //height: 5em;
                }

                ;

                &-date {
                    font-weight: bold;

                    p {
                        margin: 0;
                    }
                }

                &-content {
                    display: flex;
                    flex-direction: row;

                    &-name {
                        margin: 0 0.2em 0 0;
                        font-weight: bold;
                        color: $color-green-dark;
                    }

                    &-title {
                        display: inline-block;
                        margin: 0 0 0 0.2em;
                    }
                }
            }
        }
    }
}
