@import 'src/styles/vars';

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pets-list {
  margin: 4em 1em;
  display: flex;
  justify-content: center;
}

.add-pet-button {
  border-radius: 50%;
  height: 6em;
  width: 5.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  & i.plus.icon {
    font-size: 3em;
    margin: 0 0;
  }
}

.ui.modal {
  top: 20%;
  left: 30%;
  margin: 0 auto;
  height: 40em;
}

