@import 'src/styles/vars';

#navbar-custom {
  background-color:  rgb(46, 174, 141)!important;
  background-color:  $green!important;
  display: flex;
  align-items: center;
  padding: 0.2em 0.4em;
  height: 4em;

  @include m1024 {
    height: 5em;
  }
}

.navbar-nav {
  a {
    color: #ffffff;
    margin: 0 1em;
    font-size: 0.9rem;

    @include m1024 {
      font-size: 1rem;
    }

    &:hover {
        color: rgb(88, 94, 89);
    }

    &:active {
        color: rgb(88, 94, 89);
    }
  }
}

.navbar-light .navbar-toggler {
  color: $purple;
  border-color: transparent!important;
}

.navbar-brand {

    .logo-small {
        height: 3rem;
        fill: #fff;
        @include m1024 {
          height: 4em;
        }

        img {
            width: 100%;
        }
    }
}

.navbar-toggler {
  border-color: none;
}
