@import 'src/styles/vars';

#navbar-custom {
  background-color:  rgb(46, 174, 141)!important;
  display: flex;
  align-items: center;
  padding: 0.2em 0.4em;
  //height: 4em;
}

.navbar-nav {
  a {
    color: #ffffff;
    margin: 0 1em;

    &:hover {
        color: rgb(88, 94, 89);
    }

    &:active {
        color: rgb(88, 94, 89);
    }
  }
}

.navbar-brand {

    .logo-small {
        width: 6em;

        img {
            width: 100%;
        }
    }
}

.navbar-collapse {
    font-family: 'Muli';
}

.navbar-toggler {
  border-color: none;
}
