@import 'src/styles/vars';

.vaccine-container {
    position: relative;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    @include m1024() {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: auto;
        height: 100%;
    }

    &-title {
        color: $purple;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    &-add {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 1em;
        border-radius: 50%;
        width: 2.6em;
        height: 2.6em;
        background-color: #fff;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: rgba($green, 0.3);
        }

        &-btn {
            @include add-btn;
            margin: 0;

            svg {
                @include add-btn-svg;
            }
        }

        &__modal__form {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            label {
                display: none;
            }

            input {
                border: 1px solid $light-color;
                width: 100%;
                border-radius: 0.4em;
                padding: 0.4em;
                color: $light-color;
            }

            .modal__form-btns {
                display: flex;
                justify-content: space-between;

                .add-button-submit,
                .add-button-cancel {
                    width: 6em;
                    border: none;
                    border-radius: 30.5px;
                    padding: 0.4em;
                    color: white;

                    &:hover {
                        background: $purple;
                    }
                }

                .add-button-submit {
                    background: $green;
                }


                .add-button-cancel {
                    background: $dark-grey;
                }
            }
        }
    }

    &-list {
        padding-top: 1.5em;
        width: 100%;

        p {
            padding: 0.5em;
        }
    }
}
