@import 'src/styles/vars';

.vaccine-container {
    padding: 0.5em;

    &__btn-back {
       @include back-btn;
    }

    &-title {
        padding: 0.5em;
        font-size: 1.2em;
        text-align: center;
    }

    &-add {

        &__btn {
            @include add-btn;
        }

       &__modal__form {
            label {
              display: none;
            }
          
            input {
              border: 1px solid $light-color;
              width: 100%;
              border-radius: 0.4em;
              padding: 0.4em;
              color: $light-color;
            }
          
            .modal__form-btns {
              display: flex;
              justify-content: space-between;
          
              .add-button-submit,
              .add-button-cancel {
                width: 6em;
                background: $accent-color;
                border: none;
                border-radius: 30.5px;
                padding: 0.4em;
                color: white;
          
                &:hover {
                  background: $light-color;
                }
              }
            }
        }
    }
}


