@import 'src/styles/vars';

.weight-item {
    height: 2.6em;

    @include m767() {
        width: 30em;
    }
}

.weight-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 0.2em;
    margin: 0 auto;
    padding: 0.4em;

    &-date {
        margin: 0 2em 0 1em;

        p {
            margin-bottom: 0;
        }
    }

    &-value {
        width: 4em;

        p {
            margin-bottom: 0;
        }
    }

    &-delete {
        width: 1.4em;
        height: 100%;

        .delete-btn {
            @include delete-btn;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: $green;
            }
        }
    }

    &-line {
        height: 0.8px;
        width: 90%;
        margin: 0 auto;
        background-color: $light-color;
    }

    .modal-content {

        .modal-title {
            color: $accent-color;
        }
    }
}

.modal-delete-weight {

    .modal-header {
        text-align: center;
    }

    .modal-footer {
        display: flex;
        justify-content: space-around;
    }

    .modal-delete-cancel-btn,
    .modal-delete-validate-btn {
        border: none;
        border-radius: 30.5px;
        padding: 0.4em;
        color: white;
        padding: 0.4em 0.6em;
        width: 9rem;
    }

    .modal-delete-validate-btn {
        background: $main-color;
    }

    .modal-delete-cancel-btn {
        background: $dark-grey;
    }
}
