@import 'src/styles/vars';

.footer-container {
  height: 3em;
  width: 100vw;
  background-color: rgb(186,204,190);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}