@import 'src/styles/vars';

.login-form {
}

.login-form-opened {
  position: absolute;
  width: 60%;
  height: 18em;
  background-color: #ffffff;
  border-radius: 0.5em;
  padding: 0.5em;
  @include m1200() {
    width: 13%;
   };
  & button {
    border: none;
    padding: 0.5em;
    margin: 0.5em;
  }
  animation: fadein 300ms ease-in-out;

  @keyframes fadein {
    from { opacity: 0;}
    to {opacity: 1;}
  }
}