@import 'src/styles/vars';


.modal-register-form-title {
  color: $color-green-dark;
  font-weight: bold;
}

.register-button.btn.btn-primary,
.register-button-submit,
.register-button-cancel {
    background-color: $green;
    color: #ffffff;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5em;
    padding: 0.5em 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em var(--padding-x);
    line-height: 1.6;
    --padding-x: 1.2em;

    &:focus {
        box-shadow: none;
    }

    &:hover {
        background-color: $purple;
        box-shadow:
            0 2.9px 10px rgba(0, 0, 0, 0.035),
            0 23px 80px rgba(0, 0, 0, 0.07);
        }
    }

.register-form {

    &-btn {
        display: flex;
        justify-content: space-around;
        margin-top: 1.5em;
    }

    label {
        display: none;
    }

    &-icon {
        width: 1.2em;
        margin-left: 0.4em;
    }

    .input-email,
    .input-password,
    .input-username,
    .input-password-verif {
        width: 100%;
        padding: 0.8em;
        background-color: white!important;
        border: none;
        border-bottom: 1px solid $color-green-light;
        border-radius: 0;
        filter: none;
        color: $color-green-dark;
    }

    .input-email:focus,
    .input-password:focus,
    .input-username:focus {
        border: none;
        border-bottom: 1px solid $color-green-dark;
        filter: none;
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: $color-green-dark !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
    }

    button.btn.btn-primary.register-button-submit {
        background-color: rgba($dark-blue, 0.5);
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        margin: 0 1em;
        &:focus {
            box-shadow: none;
        }

        &:hover {
            background-color: rgba($dark-blue, 1);
        }
    }

    button.btn.btn-secondary.register-button-cancel {
        background-color: $color-green-light;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        margin: 0 1em;
        &:focus {
            box-shadow: none;
        }

        &:hover {
            background-color: $color-green-dark;
        }
    }

    .error-register-username, .error-register-email, .error-register-password {
        font-size: 0.8em;
        color: red;
    }

}
