@import 'src/styles/vars';

button.btn.btn-primary.login-button {
  background-color: #BEEADB;
  border: none;
  font-family: "Quicksand";
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 5em;
  padding: 0.5em 1em;
  @include m767() {
    margin: 0 1em;
  };
  @include m1200() {
    font-size: 1.2em;
  };
  @include m1600() {
    font-size: 1.4em;
  };

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: #0f9d9f;
  }
}

button.btn.btn-primary.login-button-submit {
  background-color:#BEEADB;
  border: none;
  border-radius: 5em;
  padding: 0.5em 1em;
  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: #0f9d9f;
  }
}

.modal-dialog {
  margin: 0;
  width: 95vw;
}

.form-label {
  font-family: "Quicksand";
}

.modal-title {
  color: #20A6A7;
  font-weight: bold;
}