@import 'src/styles/vars';

.modal-login-form {

    .modal-dialog {
        margin: 0;
        width: 95vw;
    }
}

.modal-login-form-title {
    color: #c6a49a;
    font-weight: bold;
}

button.btn.btn-primary.login-button {
    background-color: $accent-color;
    border: none;
    font-family: "Quicksand";
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5em;
    padding: 0.5em 1em;
    @include m767() {
        margin: 0 1em;
    };
    @include m1200() {
        font-size: 1.2em;
    };
    @include m1600() {
        font-size: 1.4em;
    };
    
    &:focus {
        box-shadow: none;
    }
    
    &:hover {
        background-color: #c6a49a;
    }
}

.login-form {

    &-btn {
        margin-top: 1em;
    }

    button.btn.btn-primary.login-button-submit {
        background-color:#c6a49a;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        margin: 0 1em;
        &:focus {
            box-shadow: none;
        }
        
        &:hover {
            background-color: #ff7362;
        }
    }
    
    button.btn.btn-secondary.login-button-cancel {
        background-color:#999dc2;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        margin: 0 1em;
        &:focus {
            box-shadow: none;
        }
    
        &:hover {
            background-color: #ff7362;
        }
    }
    
    .form-group {
        margin-bottom: 0.5em;
        margin-top: 1em;
    }
    
    .error-email, .error-password {
        font-size: 0.8em;
        color: red;
    }
}


.error-register {
    color: red;
    font-size: 0.9em;
    display: block;
}

