@import 'src/styles/vars';

.modal-login-form {
    .modal-dialog {
        margin: 0;
        width: 95vw;
    }
}
.modal-header {
    border-bottom: 1px solid $color-green-dark!important;
    text-transform: uppercase;
    font-size: 0.9em;

    .close {
        color: $color-green-dark!important;
    }
}

.modal-login-content-custom {
    margin-top: 35%;
    @include m1900() {
        margin-top: 15%;
    };
}

.modal-login-form-title {
    color: $color-coral;
    font-weight: bold;
}

button.btn.btn-primary.login-button {
    background-color: $color-coral-light;
    border: none;
    font-size: 1em;
    border-radius: 5em;
    padding: 0.5em 1em;
    
    &:focus {
        box-shadow: none;
    }
    
    &:hover {
        background-color: $color-coral;
        box-shadow:
            0 2.9px 10px rgba(0, 0, 0, 0.035),
            0 23px 80px rgba(0, 0, 0, 0.07);
        }
    }

.login-form {

    &-btn {
        display: flex;
        justify-content: center;
        margin-top: 1.5em;
    }

    label {
        display: none;
    }

    &-icon {
        width: 1.2em;
        margin-left: 0.4em;
    }

    .input-email,
    .input-password {
        width: 100%;
        padding: 0.8em;
        background-color: white!important;
        border: none;
        border-bottom: 1px solid $color-green-light;
        border-radius: 0;
        filter: none;
        color: $color-green-dark;
    }

    .input-email:focus,
    .input-password:focus {
        border: none;
        border-bottom: 1px solid $color-green-dark;
        filter: none;
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: $color-green-dark !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
    }

    button.btn.btn-primary.login-button-submit {
        background-color: $color-coral-light;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        margin: 0 1em;
        &:focus {
            box-shadow: none;
        }
        
        &:hover {
            background-color: $color-coral;
        }
    }
    
    button.btn.btn-secondary.login-button-cancel {
        background-color: $color-green-light;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        margin: 0 1em;
        &:focus {
            box-shadow: none;
        }
    
        &:hover {
            background-color: $color-green-dark;
        }
    }
    
    .error-email, .error-password {
        font-size: 0.8em;
        color: red;
    }
}

