@import 'src/styles/vars';

.modal-login-form {
    .modal-dialog {
        margin: 0;
        width: 95vw;
    }
}

.modal-login-content-custom {
    margin-top: 35%;
    @include m1900() {
        margin-top: 15%;
    };
}

.modal-login-form-title {
    color: $accent-color;
    font-weight: bold;
}

button.btn.btn-primary.login-button {
    background-color: $accent-color;
    border: none;
    font-family: "Quicksand";
    font-size: 1em;
    font-weight: bold;
    border-radius: 5em;
    padding: 0.5em 1em;
    @include m767() {
        margin: 0 1em;
    };
    @include m1200() {
        font-size: 1.2em;
    };
    @include m1600() {
        font-size: 1.4em;
    };
    @include m1900() {
        font-size: 1.1em;
    };
    
    &:focus {
        box-shadow: none;
    }
    
    &:hover {
        background-color: #c6a49a;
    }
}

.login-form {

    &-btn {
        display: flex;
        justify-content: center;
        margin-top: 1.5em;
    }

    label {
        display: none;
    }

    &-icon {
        width: 1.2em;
        margin-left: 0.4em;
    }

    .input-email,
    .input-password {
        width: 100%;
        padding: 0.8em;
        background-color: white!important;
        border: none;
        border-bottom: 1px solid $light-color;
        border-radius: 0;
        filter: none;
    }

    .input-email:focus,
    .input-password:focus {
        border: none;
        border-bottom: 1px solid $accent-color;
        filter: none;
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: $light-color !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
    }

    button.btn.btn-primary.login-button-submit {
        background-color: $accent-color;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        margin: 0 1em;
        &:focus {
            box-shadow: none;
        }
        
        &:hover {
            background-color: $light-color;
        }
    }
    
    button.btn.btn-secondary.login-button-cancel {
        background-color: $main-color;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        margin: 0 1em;
        &:focus {
            box-shadow: none;
        }
    
        &:hover {
            background-color: #ff7362;
        }
    }
    
    .error-email, .error-password {
        font-size: 0.8em;
        color: red;
    }
}


.error-register {
    color: red;
    font-size: 0.9em;
    display: block;
}

